<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/SignUp.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oleo+Script+Swash+Caps&family=Poppins:wght@500&display=swap');
      </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat&family=Oleo+Script+Swash+Caps&family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('../partials/navbar') %>
    
    <div class="reg-container">
        <div class="reg-form-container" style="margin-left: 30vw;">
            <form action="/auth/login" method="post">
                <h1>Login</h1>
                <div class="field">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" placeholder="johndoe@email.com">
                </div>
                <div class="field">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password">
                </div>
                <button type="submit" class="reg-submit">Submit</button>
                <p>Don't have an account? <a href="/auth/register">Signup</a></p>
            </form>
        </div> 
        <img src="/login.svg" alt="" style="width: 30vw;">
    </div>
    
</body>
</html>