<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/SignUp.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat&family=Oleo+Script+Swash+Caps&family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('../partials/navbar') %>
    <div class="reg-container">
        <div class="ball1"></div>
        <div class="ball2" style="top: 70vw;"></div>
        <div class="reg-form-container">
            <form action="/auth/register" method="post">
                <h1>Register</h1>
                <div class="field">
                    <label for="name">Username</label>
                    <input type="text" name="name" id="name" placeholder="John_Doe" required>
                </div>
                <div class="field">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="14vQ!If6nWB#" required>
                </div>
                <div class="field">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="14vQ!If6nWB#" required>
                </div>          
                <div class="field">
                    <label for="phoneno">Phone Number</label>
                    <input type="text" name="phoneno" id="phoneno" placeholder="9591119992" required>
                </div>

                <button class="reg-submit" type="submit">Submit</button>
                
                <p>Already have an account? <a href="/auth/login">Login</a></p>
            </form>
        </div>

        
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const ball1 = document.querySelector('.ball1');
            const ball2 = document.querySelector('.ball2');
            
            const maxDistance =50;
            
            document.addEventListener('mousemove', function(event) {
                const distanceX = event.clientX - window.innerWidth / 2;
                const distanceY = event.clientY - window.innerHeight / 2;
                const percentageX = (distanceX / window.innerWidth) * 100;
                const percentageY = (distanceY / window.innerHeight) * 100;                
                const moveX = (percentageX / 100) * maxDistance;
                const moveY = (percentageY / 100) * maxDistance;                
                ball1.style.transform = `translate(${moveX}px, ${moveY}px)`;
                ball2.style.transform = `translate(${moveX}px, ${moveY}px)`;
            });
        });
    </script>
</body>
</html>