<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/NavStyles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat&family=Oleo+Script+Swash+Caps&family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <label class="logo">NAME</label>
        <ul>
            <li><a href="/" class="link active">Home</a></li>
            <li><a href="#" class="link">About</a></li>
            <li><a href="/locker/deposit" class="link">Deposit</a></li>
        </ul>
        <!-- <div class="icon">
            <i class="fa-solid fa-bars" id="icon"></i>
        </div> -->

    </nav>
</body>
</html>