<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deposit</title>
    <link rel="stylesheet" href="/confirmation.css">
    <script src="https://kit.fontawesome.com/0f20a2b955.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav>
        <label class="logo">SoleSeva</label>
        <ul class="links">
            <li><a href="/" class="link">Home</a></li>
            <li><a href="/about" class="link">About</a></li>
            <li><a href="/dashboard" class="link">Dashboard</a></li>
        </ul>
        <ul class="loginUl">
            <li><a href="/auth/logout" class="link">Logout</a></li>
        </ul>

    </nav>
    
    <div class="container">
        <h1>Success! You can check a confirmation message on your mobile.</h1>
        <img src="https://cdn-icons-png.flaticon.com/512/5289/5289675.png" alt="check_img">
    </div>

</body>
</html>
