<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syntax</title>
    <link rel="stylesheet" href="/Dashboard.css">
</head>
<body>
    <nav>
        <label class="logo"><a href="/">SoleSeva</a></label>
        <ul class="links">
            <li><a href="/" class="link active">Home</a></li>
            <li><a href="#" class="link">About</a></li>
            <li><a href="/locker/deposit" class="link">Deposit</a></li>
            <li><a href="/locker" class="link">Lockers</a></li>
        </ul>
        <ul class="loginUl">
            <li><a href="/auth/logout" class="link">Logout</a></li>
        </ul>

    </nav>

    <div class="container">
        <div class="left">
            <h1>Hello <span class="special-text"><%=user.name%></span></h1>
            <p>This is your dashboard, you can click on <span class="special-text">Deposit Shoes</span> or <span class="special-text">Check Your Lockers</span> to manage your shoes.</p>
        </div>
        <div class="right" data-tilt data-tilt-glare data-tilt-max-glare="0.8">
            <img class="img" data-tilt data-tilt-glare data-tilt-max-glare="0.8" src="https://images.unsplash.com/photo-1615922091967-f977f13ea9a8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Z3VydWR3YXJhfGVufDB8fDB8fHww&w=1000&q=80" >
        </div>
    </div>
    <div class="other">
        <div class="logout2">
            <a href="/locker/deposit">Deposit Shoes</a>
        </div>
        <div class="logout2">
            <a href="/locker">Check Your Lockers</a>
        </div>
    </div>

    <script type="text/javascript" src="vanilla-tilt.js"></script>
</body>
</html>