<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syntax</title>
    <link rel="stylesheet" href="../public/styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oleo+Script+Swash+Caps&family=Poppins:wght@500&display=swap');
      </style>
</head>
<body>
    <nav>
        <label class="logo">NAME</label>
        <ul>
            <li><a href="#" class="link active">Home</a></li>
            <li><a href="#" class="link">About</a></li>
            <li><a href="#" class="link">Purchase</a></li>
            <li><a href="#" class="login">Login</a></li>
        </ul>
    </nav>
</body>

</html>