@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Outfit';
    background: 50%/contain url("https://www.halo-lab.com/cdn-cgi/image/anim=true,dpr=1,format=auto,quality=85/cloudflare-images/universe.f742a005ecd.png?66d5e0a3733") #02021e;
    font-size: max(16px,.9rem);
    font-weight: 300;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 0;
    position: relative;
    color: #fff;
    
}

nav {
    height: 7.5vw;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    margin-right: 2vw;
    list-style: none;
}

.loginUl {
    list-style-type: none;
    margin-right: 5vw;
}

.logo {
    margin-left: 5vw;
    font-size: 2rem;
}

.link {
    text-decoration: none;
    color: #ffda93;
    font-size: 1.5rem;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.3s ease;
}

.link:hover {
    border: 2px solid;
}

.texts {
    font-family: 'outfit';
    color: #fff;
    /* text-align: center; */
    height: auto;
    padding: 5vw;
}

.heading {
    font-weight: 100;
}

.links2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
}

.container {
    width: 100%;
    padding-top: 5vw;
    height: auto;
}

.size-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 5vw 25vw;
}

.sizes {
    border: 1px solid;
    padding: 2vw 4vw;
    font-size: larger;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

.sizes a {
    color: #fff !important;
}

.sizes:hover, #S:target, #M:target, #L:target, #XL:target {
    background-color: #002c8d;
}

.sizeA:hover, .sizeA:target{
    color: #fff !important;
}

.active {
    border-bottom: 2px solid;
}

.next {
    width: 100%;
    margin-bottom: 2.5vw;
    border: 2px solid;
    padding: 0.5vw 1vw;
    border-radius: 15px;
    transition: 0.3s all ease-in-out;
    width: fit-content;
}

.next:hover {
    background-color: #002c8d;
    color: #fff;
}

.dropbtn {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    /* margin-left: 40vw; */
    /* margin-bottom: 5vw; */
    color: #000;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    margin-bottom: 5vw;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    /* margin-left: 40vw; */
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .show {display:block;}


.donate {
    /* margin-left: -5vw; */
    margin-top: 5vw;
    margin-bottom: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.donate label {
    font-size: 1.5rem;
}

.money {
    font-family: 'Outfit';
    border: 1px solid;
    outline: none;
    background-color: #fff;
    padding: 1vw 2vw;
    font-size: 1.5rem;
}

.quote {
    font-style: italic;
    /* margin-left: 16vw !important; */
}

.card {
    display: flex;
    /* margin-left: vw; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

form {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#size {
    display: none;
}

#offers {
    display: none;
}

#donation {
    display: none;
}

#payment {
    display: none;
}

.sizeContainer {
    display: flex; 
    align-items: center; 
    flex-direction: column;
}