@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Outfit';
    background: 50%/contain url("https://www.halo-lab.com/cdn-cgi/image/anim=true,dpr=1,format=auto,quality=85/cloudflare-images/universe.f742a005ecd.png?66d5e0a3733") #02021e;
    font-size: max(16px,.9rem);
    font-weight: 300;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 0;
    position: relative;
    color: #fff;
    animation: fadeIn 1s 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(auto);
    }
}

nav {
    height: 7.5vw;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    margin-right: 2vw;
    list-style: none;
}

.loginUl {
    list-style-type: none;
    margin-right: 5vw;
}

.logo {
    margin-left: 5vw;
    font-size: 2rem;
}

.link {
    text-decoration: none;
    color: #ffda93;
    font-size: 1.5rem;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.3s ease;
}

.link:hover {
    border: 2px solid;
}

.texts {
    font-family: 'outfit';
    color: #fff;
    /* text-align: center; */
    height: auto;
    padding: 5vw;
}

.heading {
    font-weight: 100;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
}

.container {
    margin-top: 7.5vw;
    width: 100%;
    /* padding-top: 5vw; */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-bottom: 10vh;
}

label {
    font-size: 2rem;
}



.input-radio.small:checked {
    box-shadow: 0px 0px 0px 4px #4b4c4b;
    background-color: #ffda93;
}
.input-radio.medium:checked {
    box-shadow: 0px 0px 0px 4px #4b4c4b;
    background-color: #ff5151;
}
.input-radio.large:checked {
    box-shadow: 0px 0px 0px 4px #4b4c4b;
    background-color: rgba(0, 0, 128, 1);
}

.input-radio {
    box-shadow: 0px 0px 0px 1px #6d6d6d;
    font-size: 3em;
    width: 25px;
    height: 25px;
    margin-right: 7px;

    border: 4px solid #fff;
    background-clip: border-box;
    border-radius: 50%;
    appearance: none;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button {
    margin-top: 5vw;
    font-family: 'Outfit';
    padding: 1vw 2vw;
    font-size: 2rem;
    background-color: transparent;
    color: #fff;
    border: 2px solid;
    border-radius: 5px;
    border-color: #ffda93;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    text-align: center;
}

button:hover {
    color: #ffda93;
}

.radios {
    display: flex;
    flex-direction: row;
    gap: 10vw;
}

.radio {
    border: 2px solid #fff;
    padding: 2vw;
    border-radius: 10px;
}

.image-locker {
    color: #fff;
}

.imgs {
    position: absolute;
    right: 4vw;
    top: 10vw;
    /* margin-bottom: 5vw; */
    background-color: #fff;
    padding: 2vw;
    margin-bottom: 2vw;
    width: fit-content;
    border-radius: 10px;
}

