body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    /* background-image: url('img_girl.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    margin-right: 2vw;
    list-style: none;
}

.logo {
    margin-left: 2vw;
    font-size: 2rem;
}

.link {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

.link:hover {
    color: #ae8625;
}