body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    /* background: linear-gradient(to right,#ae8625, #f7ef8a, #d2ac47, #edc967); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    margin-right: 2vw;
    list-style: none;
}

.logo {
    margin-left: 2vw;
    font-size: 2rem;
}

.link {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

.link:hover {
    color: #ae8625;
}

.reg-container {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
} 

.reg-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    /* margin-left: 25vw; */
    background-color: rgba(146, 111, 52, 0.3);
    backdrop-filter:blur(15px);
    border-radius: 5px;
    width: 30%;
    margin-bottom: 5vw;
    margin-right: 5vw;
}

form {
    font-family: 'Poppins' !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 3vw;
}

form h1 {
    font-family: 'Poppins';
    text-align: center;
    font-size: 3em;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1vw;
}

form input::placeholder {
    color: #000;
    opacity: 0.6;
}

form input {
    color: #000;
    margin-top: 1vw;
    /* border-radius: 15px; */
    height: 3vw;
    background-color: transparent;
    border-bottom: solid 1px #000 !important;
    border: none;
    outline: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20vw;
    /* height: 2vw; */
    /* text-align: center; */
}

.reg-submit {
    margin-top: 2vw;
    outline: none;
    border: 1px rgb(146, 111, 52) solid;
    background-color: rgb(146, 111, 52);
    border-radius: 50px;
    width: 100%;
    height: 3vw;
    font-family: 'Poppins';
    color: #fff;
    cursor: pointer;
}

form p {
    margin-top: 2vw;
}

form p a {
    text-decoration: none;
    color: #ae8625;
}

.field label {
    font-size: 1em;
}