<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deposit</title>
    <link rel="stylesheet" href="/deposit.css">
    <script src="https://kit.fontawesome.com/0f20a2b955.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- <% if (filled === "asbadasas") { %>
        <h1>Hello</h1>
    <% } %> -->
    <nav>
        <label class="logo">NAME</label>
        <ul class="links">
            <li><a href="/" class="link">Home</a></li>
            <li><a href="#" class="link">About</a></li>
            <li><a href="/dashboard" class="link">Dashboard</a></li>
        </ul>
        <ul class="loginUl">
            <li><a href="/auth/logout" class="link">Logout</a></li>
        </ul>

    </nav>
    

    <div class="texts">
        <h1 class="heading">Pick your locker: </h1>
        <div class="links2">
            <div class="size active">
                <a>Size</a>
            </div>
            <div class="offers">
                <a>Offers</a>
            </div>
            <div class="donation">
                <a>Donations</a>
            </div>
            <div class="payment">
                <a>Payment</a>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- <div class="sizeContainer" style="display: flex; align-items: center; flex-direction: column;">
            <h1 class="heading" style="font-size: 1.5rem;">Pick your locker's size:</h1>
            <div class="size-buttons">
                <div id="S" class="sizes"><a href="#S" class="sizeA">S</a></div>
                <div id="M" class="sizes"><a href="#M" class="sizeA">M</a></div>
                <div id="L" class="sizes"><a href="#L" class="sizeA">L</a></div>
                <div id="XL" class="sizes"><a href="#XL" class="sizeA">XL</a></div>
            </div>
            <div class="next">
                <a>Next</a>
            </div>
        </div> -->
        <!-- <div class="sizeContainer" style="display: flex; align-items: center; flex-direction: column;">
            <h1 class="heading" style="font-size: 2rem; margin-bottom: 5vw;">Offers</h1>
            <h1 class="heading" style="font-size: 1.5rem;">Pick an offer you like: </h1>
            
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">No festivals or offers now <br><i class="fa-solid fa-caret-down" style="color: #002c8d;"></i></button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#">No festivals or offers now</a>
                </div>
            </div>
            <div class="next">
                <a>Next</a>
            </div> -->
            <div class="sizeContainer" style="display: flex; align-items: center; flex-direction: column;">
                
                <h1 class="heading" style="font-size: 2rem; margin-bottom: 2vw; margin-top: -1.5vw;">Donations</h1>
                <h1 class="heading quote" style="font-size: 1.5rem;">Always give without remembering and always receive without forgetting"</h1>

                <form action="#" class="donate">
                    <label>How much money do you want to donate (in rupees)?</label>
                    <input class="money" type="number" placeholder="Enter the money to donate" >
                </form>
                <div class="next">
                    <a>Next</a>
                </div>
            </div>
            <!-- <div class="sizeContainer" style="display: flex; align-items: center; flex-direction: column;">
                <h1 class="heading" style="font-size: 2rem;">Payment</h1>
                
                <form action="#" class="donate">
                    <div class="card">
                        <label>Card Number</label>
                        <input class="money" type="number" placeholder="XXXX XXXX XXXX XXXX" >
                    </div>
                </form>
                <div class="next">
                    <a>Next</a>
                </div>
            </div> -->

    <form action="/locker/deposit/5" method="post">
        
    </form>

    <script>
        function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
        }
        window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
            }
            }
        }
        }
    </script>
</body>
</html>