<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deposit</title>
    <link rel="stylesheet" href="/deposit.css">
    <script src="https://kit.fontawesome.com/0f20a2b955.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav>
        <label class="logo">NAME</label>
        <ul class="links">
            <li><a href="/" class="link">Home</a></li>
            <li><a href="#" class="link">About</a></li>
            <li><a href="/dashboard" class="link">Dashboard</a></li>
        </ul>
        <ul class="loginUl">
            <li><a href="/auth/logout" class="link">Logout</a></li>
        </ul>

    </nav>
    
    <form action="/locker/deposit" method="post">
            <input type="radio" id="size" name="size" value="S" checked="true">
            <label for="size">Small</label><br>
            <input type="radio" id="size" name="size" value="M">
            <label for="size">Medium</label><br>
            <input type="radio" id="size" name="size" value="L">
            <label for="size">Large</label>
            
     <button type="submit">Rent Locker</button>
    </form>


    <div class="texts">
        <h1 class="heading">Pick your locker: </h1>
        <div class="links2">
            <div class="size">
                <a>Size</a>
            </div>
            <div class="offers">
                <a>Offers</a>
            </div>
            <div class="donation">
                <a>Donations</a>
            </div>
            <div class="payment">
                <a>Payment</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="sizeContainer" id="size">
            <h1 class="heading" style="font-size: 1.5rem; margin-top: -1.5vw;">Pick your locker's size:</h1>
            <div class="size-buttons">
                <div id="S" class="sizes"><a href="#S" class="sizeA">S</a></div>
                <div id="M" class="sizes"><a href="#M" class="sizeA">M</a></div>
                <div id="L" class="sizes"><a href="#L" class="sizeA">L</a></div>
                <div id="XL" class="sizes"><a href="#XL" class="sizeA">XL</a></div>
            </div>
            <div class="next">
                <a>Next</a>
            </div>
        </div>
        <div class="sizeContainer" id="offers">
            <h1 class="heading" style="font-size: 2rem; margin-bottom: 5vw; margin-top: -1.5vw;">Offers</h1>
            <h1 class="heading" style="font-size: 1.5rem;">Pick an offer you like: </h1>
            
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">No festivals or offers now <br><i class="fa-solid fa-caret-down" style="color: #002c8d;"></i></button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#">No festivals or offers now</a>
                </div>
            </div>
            <div class="next">
                <a>Next</a>
            </div>

        </div>
            <div class="sizeContainer" id="donation">
                
                <h1 class="heading" style="font-size: 2rem; margin-bottom: 2vw; margin-top: -1.5vw;">Donations</h1>
                <h1 class="heading quote" style="font-size: 1.5rem;">Always give without remembering and always receive without forgetting"</h1>

                <form action="#" class="donate">
                    <label>How much money do you want to donate (in rupees)?</label>
                    <input class="money" type="number" placeholder="Enter the money to donate" >
                </form>
                <div class="next">
                    <a>Next</a>
                </div>
            </div>
            <div class="sizeContainer" id="payment">
                <h1 class="heading" style="font-size: 2rem; margin-top: -1.5vw;">Payment</h1>
                
                <form action="#" class="donate">
                    <div class="card">
                        <label>Card Number</label>
                        <input class="money" type="number" placeholder="XXXX XXXX XXXX XXXX" style="margin-bottom: 2vw;" >
                        <label>Name</label>
                        <input class="money" type="text" placeholder="Jon Doe" style="margin-bottom: 2vw;" >
                        <label>Expiry</label>
                        <input class="money" type="text" placeholder="02/06" >
                    </div>
                </form>
                <div class="next">
                    <a onclick="goNext">Pay</a>
                </div>
            </div>
        

        <form action="/locker/deposit/5" method="post"></form>

    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
        
        const sizeLink = document.querySelector('.size');
        const sizeContainer = document.getElementById('size');
        
        const offerLink = document.querySelector('.offers');
        const offerContainer = document.getElementById('offers');

        const donationLink = document.querySelector('.donation');
        const donationContainer = document.getElementById('donation');
        
        const paymentLink = document.querySelector('.payment');
        const paymentConatainer = document.getElementById('payment');

        sizeLink.addEventListener('click', size)
        function size(){
            sizeContainer.style.display = "flex";
            offerContainer.style.display = "none";
            paymentConatainer.style.display = "none";
            donationContainer.style.display = "none";
            
            sizeLink.classList.add("active");
            offerLink.classList.remove("active");
            donationLink.classList.remove("active");
            paymentLink.classList.remove("active");
        };

        offerLink.addEventListener('click', offer)
        function offer (){
            offerContainer.style.display = "flex";
            sizeContainer.style.display = "none";
            paymentConatainer.style.display = "none";
            donationContainer.style.display = "none";

            offerLink.classList.add("active");
            sizeLink.classList.remove("active");
            donationLink.classList.remove("active");
            paymentLink.classList.remove("active");
        };

        donationLink.addEventListener('click', donation)
        function donation () {
            donationContainer.style.display = "flex";
            offerContainer.style.display = "none";
            paymentConatainer.style.display = "none";
            sizeContainer.style.display = "none";

            donationLink.classList.add("active");
            offerLink.classList.remove("active");
            sizeLink.classList.remove("active");
            paymentLink.classList.remove("active");
        };

        paymentLink.addEventListener('click',payment)
        function payment () {
            paymentConatainer.style.display = "flex";
            offerContainer.style.display = "none";
            sizeContainer.style.display = "none";
            donationContainer.style.display = "none";

            paymentLink.classList.add("active");
            offerLink.classList.remove("active");
            sizeLink.classList.remove("active");
            donationLink.classList.remove("active");
        };


        const nextButton = document.getElementsByClassName('next');

        nextButton.addEventListener('click', goNext)

        function goNext() {
            if (sizeLink.classList.contains('active')) {
                offer()
            }
            if (offerLink.classList.contains('active')) {
                donation()
            }
            if (donationLink.classList.contains('active')) {
                payment()
            }
            
        }

    </script>
</body>
</html>
